<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Status</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card >
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col style="text-align: center;">
              <ion-icon
                name="trophy"
                style="color:#af4038; font-size:25px;"
              ></ion-icon
              ><br />
              Bronze
            </ion-col>
            <ion-col style="text-align: center;">
              <ion-icon name="trophy" style="font-size:25px;"></ion-icon>
              <br />
              Silver</ion-col
            >
            <ion-col style="text-align: center;">
              <ion-icon name="trophy" style="font-size:25px;"></ion-icon>
              <br />
              Gold</ion-col
            >
            <ion-col style="text-align: center;">
              <ion-icon name="trophy" style="font-size:25px;"></ion-icon>
              <br />
              Platinum</ion-col
            >
          </ion-row>
          <ion-row>
            <p>2 more to reach Sliver.</p>
            <ion-progress-bar color="primary" value="0.3" style="height: 10px;"></ion-progress-bar>
          </ion-row>
          <ion-row>
            <br />
            No of Courses completed : 3
          </ion-row>
        </ion-grid>
      </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-card-content style="display: contents;">
            <div id="container" style="min-width: 100%; height: 400px; margin: 0 auto; display: contents;"></div>
          </ion-card-content>
      </ion-card>
  </ion-content>
  