$white-color: #fff;
$height100: 100%;

ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-grid {
    width:100%;
    height: $height100;
}


ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

#login_logo {
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
}

.states-select {
    min-width: 70%;
}

.lg-button {
    position: absolute;
    top: 45%;
}
