<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Block</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <table>
                <thead>
                  <th></th>
                  <th>Enabling Resources of School</th>
                  <th>Teaching Learning & Assessment</th>
                  <th>Productive Community Engagement</th>
                </thead>
                <tbody>
                  <tr>
                    <td id="td-cell">Block-1</td>
                    <td style="background:yellow;" routerLink="/domain2">&nbsp;</td>
                    <td style="background:red;" routerLink="/domain2">&nbsp;</td>
                    <td  style="background:Green;" routerLink="/domain2"></td>
                  </tr>
                  <tr>
                    <td id="td-cell">Block-2</td>
                    <td style="background:green;" routerLink="/domain2">&nbsp;</td>
                    <td style="background:yellow;" routerLink="/domain2">&nbsp;</td>
                    <td style="background:red;" routerLink="/domain2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td id="td-cell">Block-3</td>
                    <td style="background:red;" routerLink="/domain2">&nbsp;</td>
                    <td  style="background:Green;" routerLink="/domain2"></td>
                    <td style="background:yellow;" routerLink="/domain2">&nbsp;</td>
        
                  </tr>
                  <tr>
                      <td id="td-cell">Block-4</td>
                      <td  style="background:Green;" routerLink="/domain2"></td>
                      <td style="background:yellow;" routerLink="/domain2">&nbsp;</td>
                    <td style="background:red;" routerLink="/domain2">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
        </ion-card-content>
      </ion-card>
</ion-content>
