.activity-month {
  font-weight: 900;
  color: #af4038;
}
.horizontal-bar {
  border-bottom: 1px solid #ccc;
}
.mostviewed-cntn-box {
  color: #000;
  border-bottom: 1px solid #ccc;
  .title {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
  }
  ion-card {
    margin: 10px 0px;
    background: #f8f7f7;
    color: #4d4f5c;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: none;
  }
  .content-box {
    margin: 30px 20px;
  }
  .sr-no {
    max-width: 15%;
    font-size: 36px;
    font-weight: 900;
    padding: 10px;
    margin: auto;
  }
  .total-views {
    font-weight: 500;
    font-size: 14px;
    border-top: 2px solid #e0dcdc;
    margin: auto;
    padding: 6px;
    padding-left: 18%;
    color:#43425d;
  }
}
.no-data-msg {
  background: #fff !important;
  color: #af4038 !important;
  text-align: center;
  margin: 20px !important;
}

.custom-card {
  margin: 10px 0px;
  padding: 10px;
  background: #fff !important ;
  color: #000 !important;
  font-size: 16px;
  h5 {
    text-align: center;
  }
}
