<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Voting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form style="padding:15px;">
    <ion-item style="    border: 1px solid #af4038;
    color: #af4038;
    text-align: center;
    font-weight: 600;">
      <ion-label>
       Please cast your Vote
      </ion-label>
    </ion-item>
      <ion-row style="padding-top: 10px;
      border-bottom: 1px solid #ccc;"><ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox > </ion-checkbox></ion-col>
     <ion-col  style="padding-left: 10px;min-width: 65%; max-width: 65%;">Well-stocked library </ion-col>
     <ion-col style="min-width: 25%; max-width: 25%; text-align: right; color: #777; font-size: 16px;"> <ion-icon name="thumbs-up"></ion-icon><small> 2</small> </ion-col>
      </ion-row>
    <!-- <ion-item>
        <ion-row>
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox></ion-col>
      <ion-col style="    padding-top: 25px;     padding-left: 10px;">  In Domain - Teaching and Learning - I like - Some like.</ion-col>
      </ion-row>
    </ion-item> -->
        <ion-row style="padding-top: 10px;
        border-bottom: 1px solid #ccc;">
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox></ion-col>
          <ion-col  style="padding-left: 10px;min-width: 65%; max-width: 65%;">Working Computer Lab</ion-col>
          <ion-col style="min-width: 25%; max-width: 25%; text-align: right; color: #777; font-size: 16px;"> <ion-icon name="thumbs-up"></ion-icon><small>4</small> </ion-col>
           </ion-row>
    <!-- <ion-item>
        <ion-row>
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox></ion-col>
          <ion-col  style="    padding-top: 25px;     padding-left: 10px;"> In Domain - Student Development - I like - Some like.</ion-col>
           </ion-row>
    </ion-item> -->
        <ion-row style="padding-top: 10px;
        border-bottom: 1px solid #ccc;">
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox></ion-col>
          <ion-col  style="padding-left: 10px;min-width: 65%; max-width: 65%;">More teachers</ion-col>
          <ion-col style="min-width: 25%; max-width: 25%; text-align: right; color: #777; font-size: 16px;"> <ion-icon name="thumbs-up"></ion-icon><small> 0</small> </ion-col>
           </ion-row>
    <!-- <ion-item>
        <ion-row>
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox></ion-col>
          <ion-col  style="    padding-top: 25px;     padding-left: 10px;"> In Domain - Community Engagement - I like - Some like</ion-col>
           </ion-row>
    </ion-item> -->
        <ion-row style="padding-top: 10px;
        border-bottom: 1px solid #ccc;">
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox> </ion-col>
          <ion-col  style="padding-left: 10px;min-width: 65%; max-width: 65%;">More parents should come for PTMs</ion-col>
          <ion-col style="min-width: 25%; max-width: 25%; text-align: right; color: #777; font-size: 16px;"> <ion-icon name="thumbs-up"></ion-icon><small> 5</small> </ion-col>
           </ion-row>
    <!-- <ion-item>
        <ion-row>
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox></ion-col>
          <ion-col  style="    padding-top: 25px;     padding-left: 10px;"> In Domain - Health and safety - I like - Some like</ion-col>
           </ion-row>
    </ion-item> -->

    <ion-row style="padding-top: 10px;
        border-bottom: 1px solid #ccc;">
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox> </ion-col>
          <ion-col  style="padding-left: 10px;min-width: 65%; max-width: 65%;">Regular art sessions in the school</ion-col>
          <ion-col style="min-width: 25%; max-width: 25%; text-align: right; color: #777; font-size: 16px;"> <ion-icon name="thumbs-up"></ion-icon><small> 5</small> </ion-col>
           </ion-row>

           <ion-row style="padding-top: 10px;
        border-bottom: 1px solid #ccc;">
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox> </ion-col>
          <ion-col  style="padding-left: 10px;min-width: 65%; max-width: 65%;">Training on English</ion-col>
          <ion-col style="min-width: 25%; max-width: 25%; text-align: right; color: #777; font-size: 16px;"> <ion-icon name="thumbs-up"></ion-icon><small> 5</small> </ion-col>
           </ion-row>
           <ion-row style="padding-top: 10px;
        border-bottom: 1px solid #ccc;">
            <ion-col style="min-width: 10%; max-width: 10%;"> <ion-checkbox> </ion-checkbox> </ion-col>
          <ion-col  style="padding-left: 10px;min-width: 65%; max-width: 65%;">Training on how to use computers</ion-col>
          <ion-col style="min-width: 25%; max-width: 25%; text-align: right; color: #777; font-size: 16px;"> <ion-icon name="thumbs-up"></ion-icon><small> 5</small> </ion-col>
           </ion-row>
  </form>
</ion-content>
<ion-footer>
    <ion-button expand="block" routerLink="/vote-report"> Vote
      </ion-button>
  </ion-footer>