<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Domain 3</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
          <table>
            <thead>
              <th>D1</th>
              <th>D2</th>
              <th>D3</th>
              <th>D4</th>
              <th>D5</th>
            </thead>
            <tbody>
              <tr>
                  <td>D1</td>
                <td style="background:red;" >&nbsp;</td>
               
                <td style="background:yellow;" >&nbsp;</td>
                <td></td><td></td>
              </tr>
              <tr>
                <td>D2</td>
                <td style="background:green;" >&nbsp;</td>
                <td style="background:red;" >&nbsp;</td>
                <td></td><td></td>
              </tr>
              <tr>
                  <td>D3</td>
                <td style="background:red;" >&nbsp;</td>
              
                <td style="background:yellow;" >&nbsp;</td>
                <td></td><td></td>
              </tr>
              <tr>
                  <td>D4</td>
                <td style="background:red;" >&nbsp;</td>
              
                <td style="background:yellow;" >&nbsp;</td>
                <td></td><td></td>
              </tr>
              <tr>
                  <td>D5</td><td></td>
                  <td style="background:red;" >&nbsp;</td>
                  <td></td>
                  <td style="background:yellow;" >&nbsp;</td>
                </tr>
            </tbody>
          </table>
        </ion-card-content>
      </ion-card>
</ion-content>
