<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:#e0e0e0;">
  <!-- Dashboard content -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let application of applications">
        <ion-card (click)="navigateToContent(application.appName)">
          <ion-card-header>
            <ion-img src="{{ application.icon }}"></ion-img>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

