.sc-ion-card-md-h {
  border-radius: 25px !important;
  background: #fff !important;
}

ion-img {
  width: 85%;
  margin: auto;
}
.welcome-note {
  margin-bottom: 0px;
  padding-bottom: 5px;
  h3 {
    margin-bottom: 0px;
  }
}
