<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>School</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <table>
                <thead>
                  <th></th>
                  <th>Enabling Resources of School</th>
                  <th>Teaching Learning & Assessment</th>
                  <th>Productive Community Engagement</th>
                </thead>
                <tbody>
                  <tr>
                    <td id="td-cell">School-1</td>
                    <td style="background:Green;" ></td>
                    <td style="background:red;" >&nbsp;</td>
                    <td style="background:yellow;" >&nbsp;</td>
                  </tr>
                  <tr>
                    <td id="td-cell">School-2</td>
                    <td style="background:yellow;" >&nbsp;</td>
                    <td style="background:green;" >&nbsp;</td>
                    <td style="background:red;" >&nbsp;</td>
                  </tr>
                  <tr>
                    <td id="td-cell">School-3</td>
                    <td style="background:red;" >&nbsp;</td>
                    <td style="background:yellow;" >&nbsp;</td>
                    <td style="background:Green;" >&nbsp;</td>
                  </tr>
                  <tr>
                    <td id="td-cell">School-4</td>
                    <td style="background:yellow;" >&nbsp;</td>
                    <td style="background:Green;" ></td>
                    <td style="background:red;" >&nbsp;</td>
                  </tr>
                </tbody>
              </table>
        </ion-card-content>
      </ion-card>
</ion-content>
