<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false"> </ion-back-button>
    </ion-buttons>
    <ion-title>samiksha-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mostviewed-cntn-box" padding *ngIf="!showSkeleton" >
    <h4 class="title"></h4>
    <div *ngIf="chartObj">
      <ion-card style="background:#fff; padding: 0px;">
        <highcharts-chart
          [Highcharts]="highcharts"
          [options]="chartObj"
          style="width: 100%; height: 400px; display: block;"
        >
        </highcharts-chart>
      </ion-card>
    </div>
    <div>
      <ion-card class="custom-card">
        <h5 *ngIf="datas?.chart" padding-left padding-right padding-top>
          {{ datas?.chart?.title }}
        </h5>
        <div *ngIf="datas?.chart">
          <div *ngFor="let entity of datas?.chart?.entities">
            <h4 text-wrap margin-left margin-top>{{ entity.entityName }}</h4>

            <ion-card
              padding
              (click)="isOpenIndex = isOpenIndex == i ? -1 : i"
              class="expansionPanel custom-card"
              margin
              *ngFor="let item of entity?.domains; let i = index"
            >
              <div class="_flex-box _justify-content-space-between">
                <div style="flex: 1;width: 90%; float: left;" text-wrap>
                  {{ item?.domainName }}
                </div>
                <ion-icon
                  *ngIf="!(isOpenIndex == i)"
                  name="arrow-down"
                  padding-left
                  padding-right
                  style="
                      font-size: 20px;"
                ></ion-icon>
                <ion-icon
                  style="font-size: 20px;"
                  *ngIf="isOpenIndex == i"
                  name="arrow-up"
                  padding-left
                  padding-right
                ></ion-icon>
              </div>
              <div *ngIf="isOpenIndex == i" padding>
                <table>
                  <tr
                    *ngFor="let criteria of item.criterias"
                    class="_flex-box _justify-content-space-between _noWrap"
                  >
                    <td text-wrap style="flex: 1">{{ criteria?.name }}</td>
                    <td class="_flex-box">: {{ criteria?.level }}</td>
                  </tr>
                </table>
              </div>
            </ion-card>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
    <!-- skeleton / loader -->
    <div *ngIf="showSkeleton">
        <div class="skeleton-card-content">
          <ion-card *ngFor="let skeleton of skeletons">
            <ion-card-content class="skeleton-card-content">
              <p>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text
                ><ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
</ion-content>
