<!-- <ion-tabs> -->
<ion-header id="custom-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button auto-hide="false"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ "bodh.bodh_dashboard" | translate }}</ion-title>
  </ion-toolbar>
  <!-- <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="top-contents">
        <ion-label>{{ "bodh.top_content" | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-downloads">
        <ion-label>{{ "bodh.my_downloads" | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-courses">
        <ion-label>{{ "bodh.my_courses" | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar> -->
</ion-header>
<!-- </ion-tabs> -->
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="top-contents">
        <ion-label>{{ "bodh.top_content" | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-downloads">
        <ion-label>{{ "bodh.my_downloads" | translate }}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="my-courses">
        <ion-label>{{ "bodh.my_courses" | translate }}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
