// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

thead {
  th {
    min-width: 20%;
    max-width: 20%;
    height: 40px;
  }
}
tbody {
  td {
    min-width: 20%;
    max-width: 20%;
    height: 40px;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
  }
}
table {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  th,
  td,
  td {
    border: 1px solid #ccc;
  }
}
.no-data-msg {
  background: #fff !important;
  color: #af4038 !important;
  text-align: center;
  margin: 20px !important;
}
.welcome-note {
  text-align: left;
  color: #af4038;
  margin-bottom: 10px;
  h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 600;
  }
}
#custom-header {
  position: initial !important;
  z-index: auto !important;
}
.no-data-found {
  margin: auto;
  font-size: 24px;
  padding-top: 20%;
  color: #756f6f;
  text-align: center;
}