<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  <ion-title>My journey</ion-title>
</ion-toolbar>

</ion-header>

<ion-content>
<ion-card>
  <ion-card-header style="background-color: #e6e4e4; padding: 10px 5px 10px 10px;">
      <h2 
      style="margin-top: 0px;
      font-size: 16px;
      margin-bottom: 0px;"
    >
      My Journey
    </h2>
    </ion-card-header>
    <ion-card-content>
  <div class="container">
  
      <!-- <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
             <h3>December</h3>
             <span> Earned Gold Badge </span>
          </div>
       </div>
       <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
             <h3>November</h3>
             <span> Created two resources on Classroom Management Strategies on the platform and completed 2 IPS. </span>
          </div>
       </div>
       <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
             <h3>October</h3>
             <span> Completed 7+ courses</span>
          </div>
       </div> -->
      <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
             <h3>September - 2019</h3>
             <span> Created School Development Plan and initiated 4 imp. projects</span>
          </div>
       </div>
      <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
             <h3>August - 2019</h3>
             <span>Carried out a school assessment</span>
          </div>
       </div>
       <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
             <h3>July - 2019</h3>
             <span>Earned a Silver Badge on the Platform and Started Classroom Observation</span>
          </div>
       </div>
       <div class="timeline-block timeline-block-right">
          <div class="marker"></div>
          <div class="timeline-content">
             <h3>June - 2019</h3>
             <span>Completed 5+ courses</span>
          </div>
       </div>

     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>May - 2019</h3>
           <span>Conducted bridge course imp project</span>
        </div>
     </div>
  
     <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>April - 2019</h3>
           <span>Completed 3+ courses</span>
        </div>
     </div>
  
     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>March - 2019</h3>
           <span>Enrolment Drive Imp Project completed</span>
        </div>
     </div>
  
     <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>February - 2019</h3>
           <span>Planned Enrolment Drive Imp. Project</span>
        </div>
     </div>
  
     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>January - 2019</h3>
           <span>Started taking up courses on the platform</span>
        </div>
     </div>
  </div>
  </ion-card-content>
  </ion-card>


  
</ion-content>
